body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);

}

code {
  font-family: "Gill Sans", Gill Sans MT, Calibri, sans-serif
    monospace;
}

:root {
  --primary: #A8DADC;
  --secondary: #457B9D;
  --tertiary: #1D3557;
  --primary-font: #F1FAEE;
  --secondary-font: #E63946;
}

* {
  /* background-image: radial-gradient(circle, #1c3657 0%, #1d3257 34%, #1e2a57 64%, #201c57 100%); */
  color: var(--secondary);
  font-family: "Gill Sans", Gill Sans MT, Calibri, sans-serif;
}

p {
  font-size: 25px;
}

/* Header */

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.header-content-left h1 {
  color: var(--secondary-font);
  font-size: 40px;
}

.header-content-right a {
  text-decoration: none;
  color: var(--secondary);
  padding: 1rem;
  font-size: 20px;
}

.header-content-right a:hover {
  color: var(--primary-font);
  font-size: 25px;
  text-decoration: underline solid var(--primary-font);
}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: 0;

}
.footer-content {
  padding: 10px;
  font-size: larger;
  text-align: center;
}
/* About Us Page */

.landing-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}

.landing-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: auto;

  margin-left: 40px;
}

.landing-content h2 {
  font-size: 40px;
  color: var(--secondary);
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.mission-statement p {
  text-emphasis-color: var(--secondary-font);
  background-color: var(--primary-font);
  clip-path: ellipse();
  margin-top: 15px;
  width: 80%;
  text-align: center;
  padding: 10%;
  font-size: 25px;
}

.landing-pet {
  text-align: center;
  border: 5px solid var(--primary-font);
  padding: 10px;
  border-radius: 10px;
}

.landing-pet h3 {
  font-size: 30px;
  text-decoration: underline;;
}

.landing-pet img {
  float: right;
  width: 300px;
  height: auto;
  clip-path: ellipse();
  shape-outside: ellipse();
  margin: 8px;
}

.landing-pet p {
  font-size: 23px;
}

.reviews {
  width: 30%;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.reviews h2 {
  font-size: 40px;
  color: var(--secondary);
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.reviews-container img {
  align-items: center;
  height: auto;
  width: 275px;
  border-radius: 10px;
  margin-top: 15px;
  border: 4px solid var(--secondary-font);
}

/* Login Form  */
.login-main-container {
  background-color: var(--tertiary);
  margin: 0 10% 0 10%;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.login-header {
  margin: 1rem 0 1rem 0 ;
  padding-left: 1rem;
  width: auto;
  color: var(--primary-font);
}

.login-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.login-body form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: auto;
  background-color: var(--primary-font);
  color: var(--secondary);
}

.login-body form button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: auto;
  background-color: var(--secondary);
  color: var(--primary-font);
}

.login-fail {
  color: var(--secondary-font);
  padding: 10px;
  text-align: center;

}

/* Sign-up Form  */
.signup-main-container {
  background-color: var(--tertiary);
  margin: 0 10% 0 10%;
  border-radius: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.signup-header {
  margin: 1rem 0 1rem 0 ;
  padding-left: 1rem;
  width: auto;
  color: var(--primary-font);
}

.signup-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.signup-body form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: auto;
  background-color: var(--primary-font);
  color: var(--secondary);
}

.signup-body form button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: auto;
  background-color: var(--secondary);
  color: var(--primary-font);
}

.signup-fail {
  color: var(--secondary-font);
  padding: 10px;
  text-align: center;

}

/* New Post Page */



/* Profile Page */

.profile-main-container {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.profile-content {
  padding: 10px;
  height: fit-content;
  background-color: var(--tertiary);
  border: solid 5px var(--primary-font);
  border-radius: 5px;
}

.user {
  background-color: var(--tertiary);
  display: flex;
  flex-direction: row;
}

.profile-content article {
  display: flex;
  flex-direction: column;
}

.profile-content article h3 {
  margin: 0;
  text-decoration: underline;
}

.profile-content article span {
  margin-top: 5px;
}

.profile-content img {
  width: 50px;
  height: 50px;
  clip-path: circle(50%);
  float: left;
  margin: 10px
}

.profile-content article, .user, .pet-info, .pet, h2, h3, h4, p, span {
  background-color: var(--tertiary);
  color: var(--primary)
}


/* Home Page and Posts */

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.post-user-info {
  padding-left: 10px;
  background-color: var(--tertiary);
}

.all-posts {
  width: 80%;
}


.post-container .post {
  border: solid 5px var(--primary-font);
  border-radius: 5px;
  margin: 10px;
}

.post-container .posts a {
  background-color: #1D3557;
}

.post-container .title {
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  color: var(--primary-font);
  text-decoration: underline var(--primary-font);
}

.post .description {
  background-color: var(--tertiary);
  padding: 10px;
  padding-top: 0;
}

.post-content {
  text-decoration: none;
}

.post-text {
  font-size: 20px;
  margin-left: 1rem;
  margin: 0;
}

.comments {
  font-size: 17px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.post-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date {
  padding-left: 2rem;
  margin: 0;
  font-size: 17px;
}

.post .description {
  display: flex;
  flex-direction: column;
}

.description .post-text {
  text-indent: 2rem;
  color: var(--primary-font)
}

.time {
  font-size: smaller;
  margin-top: 5px;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
}

/*  Single Post and Comments */
.single-post {
  margin: 0 3rem 0 3rem;
  background-color: var(--tertiary);
  border: solid 5px var(--primary-font);
  border-radius: 5px;
}

.post-card {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
}
.post-header {
  display: flex;
  flex-direction: row;
  height: auto;
}
.username {
  background-color: var(--secondary-font);
  width: fit-content;
  padding: 0 5px 0 5px;
  border-radius:  5px;
  margin-right: 1rem;
  color: var(--primary-font);
}


.dashboard {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
}

.add-pets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.add-pet-btn {
  width: 30%;
  height: auto;
  color: var(--tertiary);
  font-size: larger;
  border-radius: 5px;
}

.add-post-btn {
  width: 30%;
  height: auto;
  color: var(--tertiary);
  font-size: larger;
  border-radius: 5px;
}

.pets-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.all-pet-info {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: var(--tertiary);
}

.pet-information {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.pets-container .pet {
  border: solid 5px var(--primary-font);
  border-radius: 5px;
  margin: 10px;
}

.pets-container  .pet .description {
  background-color: var(--tertiary);
  padding: 10px;
}

.pet-information, .pet-photo {
  background-color: var(--tertiary);
}

.pet-information h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

